
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href="https://www.reddit.com/api/v1/authorize?client_id=5Pm9rnz8_pghGnMhkXvK6Q&response_type=code&state=sushma&redirect_uri=https://localhost:7116/redirecturi&duration=permanent&scope=identity">Authenticate with Reddit</a>
    </p>
   
</div>

